.config/.gsd-keyboard.settings-ported
.config/dconf/
.config/evolution/
.config/gnome-control-center/
.config/ibus/
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.local/share/calls/
.local/share/evolution/
.local/share/folks/
.local/share/gnome-settings-daemon/
.local/share/keyrings/
.local/share/nvim/
.local/share/postmarketOS-welcome-marker
.local/share/recently-used.xbel
.local/share/sounds/
.local/state/
