[user]
	name = lesleyrs
	email = 19632758+lesleyrs@users.noreply.github.com
[alias]
	ch = checkout
	br = branch
	co = commit
	s = status
	d = diff
	r = restore
[core]
	editor = hx
	autocrlf = input
[init]
	defaultBranch = main
